:root {
  --mainBrow: #07f3c0;
  --mainYellow: #e78c02;
  --mainGrey: #ece9bc;
  --mainWhite: #ffff;
  --mainDark: rgb(8, 6, 6);
}

body {
  background: var(--mainWhite);
  color: var(--mainDark);
  font-family: Verdana, Geneva, Tahoma, sans-serif 
  !important;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Courier New', Courier, monospace
  !important;
  letter-spacing: 0.25rem !important;

}
h3 {
  font-size: 15px;
}
.text-yellow{
  color: var(--mainBrow);
}

.cart-icon {
  cursor: pointer;
  color: var(--mainYellow);
  font-size: 2.3rem; 
}

.default-background, .about-background {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: 
  linear-gradient(rgba(34, 17, 1, 0.5), rgba(252, 251, 250, 0.5));
  background-position: center;
  opacity: 0.9;
  background-size: cover;
  background-repeat: no-repeat;
  
}

.about-background {
  min-height: 60vh;
  
}


.btn-yellow {
  color: var(--mainYellow);
  border-color: var(--mainYellow);
}

.btn-yellow:hover{
  background: var(--mainYellow);
  color: var(--mainBrow) !important;
}

.footer {
  background: var(--mainDark);
}

.menu {
  background: var(--mainGrey);
}